@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial;
}

html, body {
    height: 100%;
}

body {
    background-color: #202020;
    color: #eee;
    padding: 20px 10%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo {
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: bolder;
}

#logo span {
    position: relative;

}

#logo span:first-child {
    left: 5px;
}

#logo span:nth-child(2) {
    transform: rotate(-20deg);
    display: inline-block;
}

#logo span:nth-child(3) {
    left: -5px;
}

#logo span:nth-child(4) {
    left: -15px;
   

}

.numgrid {
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.numgrid button {
    padding: 20px;
    border: 2px solid #3a3e40;
    background-color: #313135;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

.msg {
    padding: 10px;
    text-align: center;
}

.score-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.numgrid button:active {
    background-color: mediumspringgreen;
    transform: scale(0.9);
}